* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: green;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: green !important; /* Hinzugefügtes !important, um sicherzustellen, dass die Farbe Grün verwendet wird */
  transition: color 0.3s;
}

a:hover {
  color: darkgreen !important; /* Hinzugefügtes !important, um sicherzustellen, dass die Farbe Grün verwendet wird */
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}



.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html, body {
  height: 100%;
}

p {
  margin-bottom: 0;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a;
  font-size: 13px;
  opacity: 0.5;
}

@font-face {
  font-family: 'mouse-300';
  src: url("../fonts/Amaranth-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'mouse-500';
  src: url("../fonts/Amaranth-Bold.ttf") format("truetype");
}

.container-fluid {
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
  color: green;
}

body {
  background-color: white;
  color: green;
  font-family: Arial, sans-serif;
}

.session-title {
  padding: 30px;
  margin: 0;
}

.session-title h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "slab", Arial, Helvetica, sans-serif;
  color: green;
}

.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-weight: bold;
  color: #6A6A6A;
}

.session-title span {
  float: right;
  font-style: italic;
  font-weight: normal;
  color: darkgreen;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 30px;
}

.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "slab", Arial, Helvetica, sans-serif;
  color: green;
}

.inner-title p {
  width: 100%;
  text-align: center;
  color: #6A6A6A;
}

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 160px;
}

.page-nav ul {
  float: none;
  margin: auto;
}

.page-nav h2 {
  font-size: 36px;
  width: 100%;
  color: green;
}

@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}

.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: green;
}

.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: green;
}

.page-nav ul li a {
  color: green;
  font-weight: bold;
}

.btn-success {
  background-color: green;
  border-color: green;
  color: white;
}

.btn-success:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-success:active {
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-success:focus {
  background-color: darkgreen;
  border-color: darkgreen;
  box-shadow: none;
}

.btn-info {
  background-color: #4f6dcd;
  border-color: #4f6dcd;
  color: white;
}

.btn-info:hover {
  background-color: #4f6dcd;
  border-color: #4f6dcd;
}

.btn-info:active {
  background-color: #4f6dcd;
  border-color: #4f6dcd;
}

.btn-info:focus {
  background-color: #4f6dcd;
  border-color: #4f6dcd;
  box-shadow: none;
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #00a8df;
}

.btn-light {
  background-color: #FFF;
  color: #3F3F3F;
}

.collapse.show {
  display: block;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #00ab9f;
}

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  color: green;
}

body {
  background-color: green;
  color: white;
  font-family: Arial, sans-serif;
}

.homebar {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 300px;
  height: 104px;
}

.button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer      
  font-size: 14px;
}
.nbutton {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  animation: bounce-in 3s ease-in-out;
}


.button:hover {
  background-color: darkgreen;
}

.content {
  margin-top: 20px;
  padding: 20px;
}

.animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text {
  font-size: 9pt;
  color: green;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  color: white;
}

.center2 {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-58%, -50%);
  color: white;
}

.center3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-65%, -50%);
  color: white;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
